<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
	<title>Betify</title>
	<%- include('header.ejs') %>
	<%- include('animation-shipping.ejs') %>
</head>

<body>
	<%- include('top-navbar.ejs', {user: user}); %>

	<%- include('main-js.ejs') %>
</body>

</html>
