<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<div class="">
	<ul id="messages"></ul>

  <form class="betify-chatroom" action="">
    <input id="chat_send_btn" autocomplete="off" /><button>Send</button>
  </form>
</div>

<script>
  $(function () {
    var socket = io();
    $('form').submit(function(){
      socket.emit('main chatroom', $('#chat_send_btn').val());
      $('#chat_send_btn').val('');
      return false;
    });
    socket.on('main chatroom', function(data){
        console.log(data);
        $('#messages').append($('<li>').text(`${data.user_name} : ${data.msg}`));
        $('#messages').animate({
          scrollTop: $('#messages').offset().top
        }, 1000);
    });
  });
</script>