<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
  <title>Betify</title>
  <%- include('header.ejs') %>

  <style>

    </style>
</head>

<body>
  <%- include('top-navbar.ejs', {user: user}); %>

  <%- include('main-js.ejs') %>

  <div class="" style="min-height:40vh; margin-bottom: 50px;">
    <div class="row">
      <div class="chart-container col-7">
        <canvas id="myChart"></canvas>
      </div>
      <div class="col-5">
        <div>
          Start: <span id="startBtcPrice"></span>
        </div>
        <div>
          End: <span id="endBtcPrice"></span>
        </div>
        <div>
          Change: <span id="changeBtcPrice" style="color: white;"></span>
        </div>
        <hr>
        <div class="row">
          <div class="col-6"><button class="btn btn-success">Going Up</button></div>
          <div class="col-6"><button class="btn btn-danger">Going Down</button></div>
        </div>
      </div>
    </div>
  </div>

  <%- include('chat-room.ejs', {user: user}); %>

  <!-- ======================================================================================= -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>

  <script type="text/javascript">
  $(function() {

    // binance data stream
    var es = new EventSource("/sse");
      es.onmessage = function (event) {
      let data = JSON.parse(event.data);
      let cpColor = '#F7931A';
      if(data.gameTimeCounter == 0){
        cpColor = '#7FFF00';

        let ele_CBP = $('#changeBtcPrice');
        let changeBtcPrice = +data.endBtcPrice - +data.startBtcPrice;
        if(changeBtcPrice > 0){
          ele_CBP.css('background', 'green');
        }else if(changeBtcPrice < 0){
          ele_CBP.css('background', 'red');
        }else{
          ele_CBP.css('background', 'black');
        }

        $('#startBtcPrice').text(data.startBtcPrice);
        $('#endBtcPrice').text(data.endBtcPrice);
        $('#changeBtcPrice').text(+data.endBtcPrice - +data.startBtcPrice);

      }
      moveData(myChart, data.eventTime, data.close, cpColor);
    };

    // Enable pusher logging - don't include this in production

    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: 'BTCUSD',
                data: [],
                backgroundColor: 'rgba(55, 99, 132, 0.1)',
                pointBackgroundColor: [],
                borderColor: ['#F7931A'],
                borderWidth: 2,
                fill: true,
                lineTension: 0.3
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
            animation: {
              duration: 1000,
              easing: 'linear'
            },
            scales: {
                xAxes: [{
                    display: true
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'BTCUSDT'
                    },
                    ticks: {
                        beginAtZero:false,
                        showLabelBackdrop: true,
                    }
                }]
            }
        }
    });

    function moveData(chart, label, data, cpColor) {

        chart.data.labels.push(label);
        if(chart.data.labels.length > 30){
          chart.data.labels.splice(0, 1); // remove first label
        }
        chart.data.datasets.forEach((dataset) => {
            // new data
            dataset.data.push(data);
            // data color
            dataset.pointBackgroundColor.push(cpColor);

            if(dataset.data.length > 30){
              dataset.data.splice(0, 1); // remove first data point
              dataset.pointBackgroundColor.splice(0, 1); // remove first data color
          }
        });

        chart.update();
    }


  });
  </script>
</body>

</html>
